<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Subject</h4>
        <div class="user-form">
          <%=simple_form_for([:admin, @subject])do |f|%>

          <div class="form-group">
            <label for="exampleInputEmail3">Subject Name</label>
            <%=f.text_area :subject_name, class: "form-control", placeholder: "Subject Name", id: "subject_name"%>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail3">Estimate Time</label>
            <%=f.number_field :hour, class: "form-control", placeholder: "Hour"%>
          </div>


          <div class="modal-footer">
            <%=f.submit "Save", class: "btn brn-success mr-2"%>
            <%=link_to "Cancel", admin_subjects_path, class: "btn btn-light"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
