<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <%=render "subject_form"%>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
