<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <%=link_to "Add Subject", new_admin_subject_path, class: "btn btn-primary btn-md"%>

      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 table-responsive">
                <table id="order-listing" class="table">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created At</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="subject-index">
                    <%@subjects.each do |subject|%>
                      <tr>
                        <td>
                          <%=subject.id%>
                        </td>

                        <td>
                          <%= subject.subject_name%>
                        </td>

                        <td>
                          <%=time_ago(subject.created_at)%>
                        </td>

                        <td>
                          <%=link_to admin_subject_path(subject), title: "View" do %>
                            View
                          <%end%>
                          <%=link_to edit_admin_subject_path(subject), title: "Edit",id: "show-form_#{subject.id}" do %>
                            Edit
                          <%end%>
                        </td>
                      </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
