<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Category Information</h5>
              <ul class="bullet-line-list">
                <li>
                  <p class="mb-2">Subject</p>
                  <h6><%=@subject.subject_name%></h6>
                </li>

                <li>
                  <p class="mb-2">Hour</p>
                  <h6><%=@subject.hour%></h6>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
