<div class="about-area hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-container">
                    <h3>WHY CODEHUB ?</h3>
                    <p style="font-size: 18px;">We believe you can code better. Relying only on class is never enough,
                      it is always a wise choice to seek extra sources of knowlegde. And that
                      is the reason why CODEHUB is founded. Observing the need of assitants in
                      your programming journey, we are designed to offer just the right set of
                      courses for you to succeed in your career.

                    </p>
                    <%=link_to "Take Course Now", courses_path, class: "button-default"%>
                </div>
            </div>
        </div>
    </div>
</div>
