<div class="course-area section-padding bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>POPULAR COURSES</h3>
                        <p>There are many courses to take</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <%@courses.each do |course|%>
            <div class="col-md-4 col-sm-6">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                      <%=link_to course_path(course) do%>
                        <img src="<%=course.image%>" alt="">
                      <%end%>
                    </div>
                    <div class="single-item-text">
                        <h4  title="<%=course.course_name.capitalize%>"><a href="#"><%=link_to course.course_name.truncate(39), course_path(course)%></a></h4>
                        <div class="single-item-text-info">
                            <span>By: <span><%="#{course.instructor.firstname} #{course.instructor.lastname}"%></span></span><br>
                            <span>Price: <span>
                              <%if course.instructor.lastname === "Som On"%>
                                <%=number_to_currency(course.price)%>/ Per Student</span>
                              <%else%>
                                <%=number_to_currency(course.price)%>/Month</span>
                              <%end%>
                            </span><br>
                            <span>Deadline: <%=course.category.deadline%></span><br>
                            <span>Place:
                              <%if @available == 0%>
                                 <span style="color: #86bc42;"><%="Available Now"%></span>
                              <%elsif @available == 10%>
                                 <span><%="Full"%></span>
                              <%else%>
                                 <span style="color: #86bc42;"><%="Available Now"%></span>
                              <%end%>
                            </span>
                        </div>
                        <div class="single-item-content">
                           <div class="single-item-comment-view">
                             <i class="zmdi zmdi-star"></i>
                             <i class="zmdi zmdi-star"></i>
                             <i class="zmdi zmdi-star"></i>
                             <i class="zmdi zmdi-star"></i>
                             <i class="zmdi zmdi-star-half"></i>
                           </div>
                        </div>
                    </div>
                    <div class="button-bottom">
                      <%=link_to "Register Now", new_course_registration_path(course), class: "button-default"%>
                    </div>
                </div>
            </div>
          <%end%>
          <div class="col-md-12 col-sm-12 text-center">
            <%=link_to courses_path, class:"button-default button-large" do%>
              Browse All Courses
            <%end%>
          </div>
        </div>
    </div>
</div>
