<!--Footer Widget Area Start-->
<div class="footer-widget-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <div class="footer-logo">
                        <a href="/"><img src="/footerlogo.png" alt=""></a>
                    </div>
                    <p>Codehubacademy is the best academy in Cambodia and there are a lot of professional coding skill</p>
                    <div class="social-icons">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-rss"></i></a>
                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-footer-widget">
                    <h3>GET IN TOUCH</h3>
                    <span><i class="fa fa-phone"></i>+85595477325</span>
                    <span><i class="fa fa-envelope"></i>codehubacademy@gmail.com</span>
                    <span><i class="fa fa-globe"></i>www.codehubacademy.com</span>
                    <span><i class="fa fa-map-marker"></i>#57ceo Street 204, Sangkat Tik Laork 3, Kanh Tol Kork</span>
                </div>
            </div>
            <div class="col-md-4 hidden-sm">
                <div class="single-footer-widget">
                    <h3>Useful Links</h3>
                    <ul class="footer-list">
                        <li><a href="/courses">Our Courses</a></li>
                        <li><a href="#">Courses Categories</a></li>
                        <li><a href="/contacts">Support</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Widget Area-->
<!--Footer Area Start-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7">
                <span>Copyright &copy; CodeHubAcademy 2018.All right reserved.Created by <a href="#">Menghour Hai</a></span>
            </div>
            <div class="col-md-6 col-sm-5">
                <div class="column-right">
                    <span>Privacy Policy , Terms &amp; Conditions</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer Area-->
