<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-5 hidden-xs">
          <span>Have any question? +85595477325</span>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
          <div class="header-top-right">
            <div class="content">
              <a href="#">
                <i class="zmdi zmdi-account"></i>
                My Account</a>
              <ul class="account-dropdown">
                <li>
                  <a href="#">My Account</a>
                </li>
                <li>
                  <a href="#">Log In</a>
                </li>
                <li>
                  <a href="#">Register</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </div>
            <div class="content">
              <a href="#">
                <i class="zmdi zmdi-favorite"></i>
                Events
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-logo-menu sticker">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="logo">
            <a href="/"><img src="/codehublogo.png" alt="CodeHubAcademy" class="logo-image"></a>
          </div>
        </div>
        <div class="col-md-9 hidden-sm hidden-xs">
          <div class="mainmenu-area pull-right">
            <div class="mainmenu">
              <nav>
                <ul id="nav">
                  <li class="current">
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <%=link_to "Courses", courses_path%>
                  </li>
                  <li>
                    <%=link_to "Instructors", instructors_path%>
                  </li>
                  <li>
                    <%=link_to "News", blogs_path%>
                  </li>
                  <li>
                    <%=link_to "About Us", abouts_path%>
                  </li>
                  <li>
                    <%=link_to "Contact", new_contact_path%>
                  </li>
                </ul>
              </nav>
            </div>
            <ul class="header-search">
              <li class="search-menu">
                <i id="toggle-search" class="zmdi zmdi-search-for"></i>
              </li>
            </ul>
            <!--Search Form-->
            <div class="search">
              <div class="search-form">
                <%=search_form_for(@search,id:"search-form") do |f|%>
                <%=f.text_field :course_name_cont%>
                <button type="submit">
                  <span>
                    <i class="fa fa-search"></i>
                  </span>
                </button>
              <%end%>
            </div>
          </div>
          <!--End of Search Form-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu Area start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul>
              <li class="current">
                <a href="/">Home</a>
              </li>
              <li>
                <%=link_to "Courses", courses_path%>
              </li>
              <li>
                <%=link_to "Instructors", instructors_path%>
              </li>
              <li>
                <%=link_to "News", blogs_path%>
              </li>
              <li>
                <%=link_to "About Us", abouts_path%>
              </li>
              <li>
                <%=link_to "Contact", new_contact_path%>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile Menu Area end -->
</header>
