<div class="latest-area section-padding bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Latest News</h3>
                        <p>There are many advantage blogs down here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <%@blogs.each do |blog|%>
            <div class="col-md-4">
                <div class="single-latest-item">
                    <div class="single-latest-image">
                      <%=link_to blog_path(blog) do%>
                        <img class="image-size" title="<%=blog.title.capitalize%>" src="<%=blog.image%>" alt="">
                      <%end%>
                    </div>
                    <div class="single-latest-text">
                        <h3>
                          <%=link_to blog_path(blog), title: blog.title.capitalize do%>
                            <%=blog.title.capitalize.truncate(40)%>
                          <%end%>
                        </h3>
                        <div class="single-item-comment-view">
                           <span><i class="zmdi zmdi-calendar-check"></i><%=blog.created_at%></span>
                       </div>
                       <%=link_to "LEARN MORE", blog_path(blog),class: "button-default"%>
                    </div>
                </div>
            </div>
          <%end%>
          <div class="col-md-12 col-sm-12 text-center">
            <%=link_to blogs_path, class:"button-default button-large" do%>
              All Blogs
            <%end%>
          </div>
        </div>
    </div>
</div>
