<div class="slider-area slider-two">
  <div class="preview-2">
    <div id="nivoslider" class="slides">
      <img src="/code.jpg" alt="" title="#slider-1-caption1"/>
      <img src="/image11.png" alt="" title="#slider-1-caption2"/>
    </div>
    <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
      <div class="banner-content slider-1">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content-wrapper">
                <div class="text-content">
                  <h1 class="title1">You Can Code Better
              </h1>
                  <p class="sub-title hidden-sm hidden-xs" style="font-size: 18px;">
                    Want to learn fast? Need an actual skill? Want to be inspired?<br>
                    You are on the right site!</p>
                  <div class="banner-readmore">
                    <%=link_to "View Courses", courses_path,class: "button-default bg-blue"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
      <div class="banner-content slider-2">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content-wrapper">
                <div class="text-content slide-2">
                  <h1 class="title1">You Can Code Better
                  </h1>
                  <p class="sub-title hidden-sm hidden-xs" style="font-size: 18px;">
                      Want to learn fast? Need an actual skill? Want to be inspired?<br>
                      You are on the right site!</p>
                  <div class="banner-readmore">
                    <%=link_to "View Courses", courses_path,class: "button-default bg-blue"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
