<%title "Blogs | codehubacademy.com"%>

<%=render "components/header"%>
<div class="as-mainwrapper">
  <!--Bg White Start-->
  <div class="bg-white">
    <div class="latest-area section-padding bg-white">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title-wrapper">
                  <div class="section-title">
                    <h3>OUR NEWS</h3>
                    <p>There are many advantage blogs down here</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <%@blogs.each do |blog|%>
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">
                  <div class="single-event-item">
                    <div class="single-event-image">
                      <%=link_to blog_path(blog) do%>
                        <img title="<%=blog.title.capitalize%>" class="image-size" src="<%=blog.image%>" alt="">
                      <%end%>
                    </div>
                    <div class="single-event-text">
                      <h3>
                        <%=link_to blog.title.capitalize.truncate(40), blog_path(blog),title: "#{blog.title.capitalize}"%>
                      </h3>
                      <div class="single-item-comment-view">
                        <span>
                          <i class="zmdi zmdi-time"></i><%=blog.created_at%></span>
                        <span>
                          <i class="zmdi zmdi-pin"></i>Chhouk Tit Panhara</span>
                      </div>
                      <%=link_to "LEARN NOW", blog_path(blog),class: "button-default"%>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
        <!--End of Event Area-->
      </div>
    </div>
  </div>
</div>

<%=render "components/footer"%>
