<%title "Blogs | #{@blog.title} | codehubacademy.com"%>
<%=meta_description strip_tags(@blog.description)%>
<%=render "components/header"%>
<div class="as-mainwrapper">
  <!--Bg White Start-->
  <div class="bg-white">
    <div class="breadcrumb-banner-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="breadcrumb-text">
              <h1 class="text-center">NEWS DETAILS</h1>
              <div class="breadcrumb-bar">
                <ul class="breadcrumb text-center">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>NEWS DETAILS</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--News Details Area Start-->
    <div class="news-details-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-8">
            <div class="news-details-content">
              <div class="single-latest-item">
                <img class="image-blog-detail" src="<%=@blog.image%>" alt="">
                <div class="single-latest-text">
                  <h3><%=@blog.title%></h3>
                  <div class="single-item-comment-view">
                    <span>
                      <i class="zmdi zmdi-calendar-check"></i><%=@blog.created_at%></span>
                  </div>

                  <p>
                    <%=raw(@blog.description)%>
                  </p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="sidebar-widget">
              <div class="single-sidebar-widget">
                <h4 class="title">Recent Posts</h4>
                <div class="recent-content">
                  <%@blogs.each do |blog|%>
                    <div class="recent-content-item">
                      <%=link_to blog_path(blog) do%>
                        <img src="<%=blog.image%>" alt="" style="width:70px !important; height: 67px !important;">
                      <%end%>
                    <div class="recent-text">
                      <h4>
                        <%=link_to blog.title, blog_path(blog)%>
                      </h4>
                      <div class="single-item-comment-view">
                        <span>
                          <i class="zmdi zmdi-calendar-check"></i><%=blog.created_at%></span>
                        </div>
                    </div>
                  </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of News Details Area-->
      </div>
    </div>

    <%=render "components/footer"%>
