<tr class="delete_registration_<%=registration.id%>">
  <td>
    <%=registration.id%>
  </td>

  <td>
    <%= registration.firstname%>
  </td>

  <td>
    <%=registration.lastname%>
  </td>

  <td>
    <%=registration.email%>
  </td>

  <td>
    <%=registration.phone%>
  </td>

  <td>
    <%=status_converter(registration.status, correct: "Paid", incorrect: "Unpaid")%>
  </td>

  <td>
    <%=time_ago(registration.created_at)%>
  </td>


  <td>
    <%=form_for([:admin, registration], remote: true) do |f|%>
      <%=link_to admin_registration_path(registration), title: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_registration_path(registration), title: "Edit",id: "show-form_#{registration.id}" do %>
        Edit
      <%end%>
      <%=link_to admin_registration_path(registration.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        Delete
      <%end%>
    <%end%>
  </td>
</tr>
