<tr class="delete_type_<%=type.id%>">
  <td>
    <%=type.id%>
  </td>

  <td>
    <%= type.type_name%>
  </td>

  <td>
    <%=time_ago(type.created_at)%>
  </td>


  <td>
    <%=form_for([:admin, type], remote: true) do |f|%>
      <%=link_to admin_type_path(type), email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_type_path(type), email: "Edit",id: "show-form_#{type.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
</tr>
