<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Type</h4>
        <div class="user-form">
          <%=simple_form_for([:admin, type], remote: true)do |f|%>
            <div class="form-group">
              <label for="exampleInputEmail3">Type Name</label>
              <%=f.text_field :type_name, class: "form-control", placeholder: "type", required: true%>
            </div>
            <div class="modal-footer">
              <%=f.submit "Save", class: "btn brn-success mr-2"%>
              <button class="btn btn-light" data_dismiss="modal" aria_label="Close">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
