$("input#type_type_name").val("");
$("#type-errors").html(" ");
$("#type-success").html("<%= custom_flash_message%>");
$("#type-index").append("<%=escape_javascript render(@type)%>");

$(function() {
  $('.delete_type_<%=@type.id%>').submitOnCheck();
});

$('.delete_type_<%=@type.id%>').submitOnCheck();
