<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <div class="breadcrumb-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h1 class="text-center">BEST INSTRUCTOR</h1>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center">
                                <li><a href="/">Home</a></li>
                                <li>Instructor</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Search Category Start-->
    <div class="search-category">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <%=search_form_for(@search) do |f|%>
                    <div class="form-container">
                      <div class="box-select">
                        <div class="select large">
                          <%=f.text_field :course_name_cont, class: "form-large", placeholder: "Course Name"%>
                        </div>
                      </div>
                      <%=f.submit "Search Course", class:"btn-search"%>
                    </div>
                  <%end%>
                </div>
            </div>
        </div>
    </div>
    <!--End of Search Category-->
    <!--Teachers Area Start-->
    <div class="teachers-area" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wrapper">
                        <div class="section-title">
                            <h3>OUR INSTRUCTORS</h3>
                            <p>There are many instructors that have experiences </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <%@instructors.each do |instructor|%>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-teacher-item">
                        <div class="single-teacher-image">
                            <a href="#"><img src="<%=instructor.image%>" alt=""></a>
                        </div>
                        <div class="single-teacher-text">
                            <h3><a href="#"><%="#{instructor.firstname} #{instructor.lastname}"%></a></h3>
                            <h4><%=instructor.title%></h4>
                            <p><%=raw(instructor.description.truncate(200))%></p>
                            <div class="social-links">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
              <%end%>
            </div>
        </div>
    </div>
    </div>
  </div>

<%=render "components/footer"%>
