<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper auth p-0 theme-two">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                    <div class="slide-content bg-1">
                    </div>
                </div>
                <div class="col-12 col-md-8 h-100 bg-white">
                    <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "form-horizontal m-t-30") do |f| %>
                      <h3 class="mr-auto">Hello! let's get reset your password</h3>
                      <p class="mb-5 mr-auto">Enter your password and confirmation below</p>
                      <%= devise_error_messages! %>
                      <div class="form-group">
                        <%= f.hidden_field :reset_password_token %>
                        <%= f.label :password, "New password" %><br />
                        <% if @minimum_password_length %>
                          <label>(<%= @minimum_password_length %> characters minimum)</label>
                        <% end %>
                        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password_confirmation, "Confirm new password" %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation Password" %>
                      </div>

                      <%= render "devise/shared/links" %>
                      <div class="form-group">
                        <%= f.submit "Update Password", class: "btn btn-primary w-md waves-effect waves-light" %>
                      </div>
                      <%end%>
                      <div class="wrapper mt-5 text-gray">
                          <p class="footer-text">Copyright © 2018 Thakvika Technology. All rights reserved.</p>
                          <ul class="auth-footer text-gray">
                              <li>
                                  <a href="#">Terms & Conditions</a>
                              </li>
                              <li>
                                  <a href="#">Cookie Policy</a>
                              </li>
                          </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
