<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <div class="contact-form-area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                    <h4 class="contact-title">Course Info</h4>
                    <div class="contact-text">
                      <p>
                        <span class="c-icon"><i class="zmdi zmdi-book"></i></span>
                        <span class="c-text"><%=@course.course_name%></span>
                      </p>
                      <p>
                        <span class="c-icon"><i class="zmdi zmdi-alarm"></i></span>
                        <span class="c-text"><%=@course.sessionrean%> (<%=@course.startfrom%> to <%=@course.endfrom%>)</span>
                      </p>
                      <p>
                        <span class="c-icon"><i class="zmdi zmdi-view-day"></i></span>
                        <span class="c-text"><%=@course.category.duration%></span></p>
                      <p>
                      <p>
                        <span class="c-icon"><i class="zmdi zmdi-money"></i></span>
                        <span class="c-text"><%=number_to_currency(@course.price)%>/Month</span></p>
                      <p>
                      <p>
                        <span class="c-icon"><i class="zmdi zmdi-view-day"></i></span>
                        <span class="c-text">Register Deadline <%=@course.category.deadline%></span></p>
                      <p>

                    </div>

                  </div>
                  <div class="col-md-6">
                      <h4 class="contact-title">Registration Information</h4>
                      <%=form_for([@course, @registration], id:"contact-form" ) do |f|%>
                          <%if @registration.errors.any?%>
                            <div class="error-container">
                              <h4 class="contact-title" style="color: white;">Opps! Your Infomation Could Not Be Save</h4>
                                <%@registration.errors.full_messages.each do |message|%>
                                  <p><%=message%><p>
                                <%end%>
                            </div>
                          <%end%>
                          <div class="row">
                              <div class="col-md-6">
                                  <%=f.text_field :firstname, placeholder: "First Name"%>
                              </div>
                              <div class="col-md-6">
                                <%=f.text_field :lastname, placeholder: "Last Name"%>
                              </div>
                              <div class="col-md-6">
                                <%=f.text_field :email, placeholder: "Email"%>
                              </div>
                              <div class="col-md-6">
                                <%=f.text_field :phone, placeholder: "Phone"%>
                              </div>
                              <div class="col-md-12">
                                <label for="exampleInputEmail3">Programming That You Have Learnt</label>
                                <%=f.text_area :programming, placeholder: "Subject Name", id: "programming"%>
                              </div>
                              <div class="col-md-12">
                                <%=f.submit "Register", class:"button-default"%>
                              </div>
                          </div>
                      <%end%>
                      <p class="form-messege"></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

<%=render "components/footer"%>
