<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.codehubacademy.com/" target="_blank">Codehubacademy</a>. All rights reserved.</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Powered By Codehubacademy <i class="mdi mdi-heart text-danger"></i></span>
  </div>
</footer>
