<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
  <div class="container d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top">
      <a class="navbar-brand brand-logo" href="/admin"><img src="/codehublogo.png" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <form class="search-field ml-auto" action="#">
        <div class="form-group mb-0">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="mdi mdi-magnify"></i></span>
            </div>
            <input type="text" class="form-control">
          </div>
        </div>
      </form>
      <ul class="navbar-nav navbar-nav-right mr-0">
        <li class="nav-item dropdown ml-4">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="mdi mdi-bell-outline"></i>
            <span class="count bg-warning">4</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
            <a class="dropdown-item py-3">
              <p class="mb-0 font-weight-medium float-left">You have 4 new notifications
              </p>
              <span class="badge badge-pill badge-inverse-info float-right">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-inverse-success">
                  <i class="mdi mdi-alert-circle-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                <p class="font-weight-light small-text mb-0">
                  Just now
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-inverse-warning">
                  <i class="mdi mdi-comment-text-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                <p class="font-weight-light small-text mb-0">
                  Private message
                </p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-inverse-info">
                  <i class="mdi mdi-email-outline mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                <p class="font-weight-light small-text mb-0">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown d-none d-xl-inline-block">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <%if current_admin_user.image%>
              <img class="img-xs rounded-circle" src="<%=current_admin_user.image%>" alt="Profile image">
            <%else%>
              <img class="img-xs rounded-circle" src="/user.png" alt="Profile">
            <%end%>


          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item p-0">
              <div class="d-flex border-bottom">
                <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i></div>
                <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"><i class="mdi mdi-account-outline mr-0 text-gray"></i></div>
                <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-alarm-check mr-0 text-gray"></i></div>
              </div>
            </a>
            <%=link_to "Manage Accounts", edit_admin_user_path(current_admin_user), class: "dropdown-item"%>
            <%=link_to "Logout", destroy_admin_user_session_path, method: :delete, class: "dropdown-item"%>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </div>
  <div class="nav-bottom">
    <div class="container">
      <ul class="nav page-navigation">
        <li class="nav-item">
          <a href="/admin/" class="nav-link"><i class="link-icon mdi mdi-television"></i><span class="menu-title">DASHBOARD</span></a>
        </li>
        <li class="nav-item">
          <%=link_to admin_users_path, class: "nav-link" do%>
            <i class="link-icon mdi mdi-television"></i><span class="menu-title">Administrator</span>
          <%end%>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="link-icon mdi mdi-asterisk"></i><span class="menu-title">Regist Management</span><i class="menu-arrow"></i></a>
          <div class="submenu">
            <ul class="submenu-item">
              <li class="nav-item">
                <%=link_to "Registration Report", admin_registrations_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%=link_to "Student Report", admin_students_path, class: "nav-link"%>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="link-icon mdi mdi-asterisk"></i><span class="menu-title">Course Management</span><i class="menu-arrow"></i></a>
          <div class="submenu">
            <ul class="submenu-item">
              <li class="nav-item">
                <%=link_to "Instructor", admin_instructors_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%=link_to "Category", admin_categories_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%=link_to "Subject", admin_subjects_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%=link_to "Course", admin_courses_path, class: "nav-link"%>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="link-icon mdi mdi-asterisk"></i><span class="menu-title">Content Management</span><i class="menu-arrow"></i></a>
          <div class="submenu">
            <ul class="submenu-item">
              <li class="nav-item">
                <a class="nav-link" href="#">Slideshow</a>
              </li>
              <li class="nav-item">
                <%=link_to "Types", admin_types_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
                <%=link_to "News", admin_blogs_path, class: "nav-link"%>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Skills & Experences</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
