<div class="as-mainwrapper">
  <!--Bg White Start-->
  <div class="bg-white">
      <!--Header Area Start-->
    <%=render "components/header"%>
      <!--End of Header Area-->
      <!--Slider Area Start-->
      <%=render "components/slidershows"%>
      <!--End of Slider Area-->
      <!--About Area Start-->
      <%=render "components/about"%>
      <!--End of About Area-->
      <!--Course Area Start-->
      <%=render "components/course"%>
      <!--End of Course Area-->
      <!--Fun Factor Area Start-->
      <%=render "components/fun_factor"%>
      <!--End of Fun Factor Area-->
      <!--Latest News Area Start-->
      <%=render "components/latest_area"%>
                <!--End of Latest News Area-->
      <%=render "components/footer"%>
  </div>
  <!--End of Bg White-->
</div>
