<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Course</h4>
        <div class="instructor-form">
          <%=simple_form_for([:admin, instructor], remote: true)do |f|%>
            <div class="form-group">
              <label for="exampleInputEmail3">First Name</label>
              <%=f.text_field :firstname, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Last Name</label>
              <%=f.text_field :lastname, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Date Of Birth</label>
              <%=f.text_field :dob, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Email</label>
              <%=f.text_field :email, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Phone</label>
              <%=f.text_field :phone, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Title</label>
              <%=f.text_field :title, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Profession</label>
              <%=f.text_area :profession, class: "form-control", placeholder: "Subject Name", id: "subject_name"%>
            </div>

            <div class="form-group">
              <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
            </div>

            <div class="form-group">
              <div class="control-group file-upload" id="file-upload1">
                <h3>Upload Photo</h3>
                <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                <div class="controls">
                    <%=f.file_field :image%>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <%=f.submit "Save", class: "btn brn-success mr-2"%>
              <button class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
