<tr class="delete_instructor_<%=instructor.id%>">
  <td>
    <%=instructor.id%>
  </td>

  <td>
    <%= "#{instructor.firstname} #{instructor.lastname}"%>
  </td>

  <td>
    <%=instructor.dob%>
  </td>

  <td>
    <%=instructor.email%>
  </td>

  <td>
    <%=instructor.phone%>
  </td>

  <td>
    <%=instructor.title%>
  </td>

  <td>
    <%=status_converter(instructor.status, correct: "Activated", incorrect: "inactive")%>
  </td>

  <td>
    <%=time_ago(instructor.created_at)%>
  </td>


  <td>
    <%=form_for([:admin, instructor], remote: true) do |f|%>
      <%=link_to admin_instructor_path(instructor), title: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_instructor_path(instructor), title: "Edit",id: "show-form_#{instructor.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
</tr>
