$("input#instructor_fistname").val("");
$("input#instructor_lastname").val("");
$("input#instructor_dob").val("");
$("input#instructor_email").val("");
$("input#instructor_phone").val("");
$("input#instructor_title").val("");
$("#instructor-errors").html(" ");
$("#instructor-success").html("<%= custom_flash_message%>");
$("#instructor-index").append("<%=escape_javascript render(@instructor)%>");

$(function() {
  $('.delete_instructor_<%=@instructor.id%>').submitOnCheck();
});

$('.delete_instructor_<%=@instructor.id%>').submitOnCheck();
