<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Personal Information</h4>
              <div class="instructor-form">
                <%=simple_form_for([:admin, @instructor])do |f|%>
                    <div class="form-group">
                      <label for="exampleInputEmail3">First Name</label>
                      <%=f.text_field :firstname, class: "form-control", placeholder: "instructor Name", required: true%>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Last Name</label>
                      <%=f.text_field :lastname, class: "form-control", placeholder: "instructor Name", required: true%>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Date Of Birth</label>
                      <%=f.text_field :dob, class: "form-control", placeholder: "instructor Name", required: true%>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Email</label>
                      <%=f.text_field :email, class: "form-control", placeholder: "Course Name", required: true%>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Phone</label>
                      <%=f.text_field :phone, class: "form-control", placeholder: "Course Name", required: true%>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Title</label>
                      <%=f.text_field :title, class: "form-control", placeholder: "instructor Name", required: true%>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail3">Profession</label>
                      <%=f.text_area :profession, class: "form-control", placeholder: "Subject Name", id: "subject_name"%>
                    </div>

                    <div class="form-group">
                      <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
                    </div>

                    <div class="form-group">
                      <div class="control-group file-upload" id="file-upload1">
                        <h3>Upload Photo</h3>
                        <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                        <div class="controls">
                            <%=f.file_field :image%>
                        </div>
                      </div>
                    </div>

                    <div class="form-group d-flex justify-content-between">
                      <div class="form-check form-check-flat mt-0">
                        <label class="form-check-label">
                          <%=f.check_box :status, class: "form-check-input"%>
                          If instructor still working status will be active if not update information
                        </label>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <%=f.submit "Save", class: "btn brn-success mr-2"%>
                      <%=link_to "Cancel", admin_instructors_path,class: "btn btn-light"%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
