$("input#instructor_fistname").val("");
$("input#instructor_lastname").val("");
$("input#instructor_dob").val("");
$("input#instructor_email").val("");
$("input#instructor_phone").val("");
$("input#instructor_title").val("");
$("#instructor-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
