<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Thank You For Registered The Course</h3>
                        <%=link_to "Browse Courses", courses_path, class: "button-default"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<%=render "components/footer"%>
