<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <div class="breadcrumb-banner-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="breadcrumb-text">
                          <h1 class="text-center">CONTACT US</h1>
                          <div class="breadcrumb-bar">
                              <ul class="breadcrumb text-center">
                                  <li><a href="/">Home</a></li>
                                  <li>CONTACT</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="contact-form-area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <h4 class="contact-title">contact info</h4>
                      <div class="contact-text">
                          <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">+95477325</span></p>
                          <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span class="c-text">codehubacademy@gmail.com</span></p>
                          <p><span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">#57ceo Street 204,<br>
                          Sangkat Tik Laork 3, Kanh Tol Kork</span></p>
                      </div>
                      <h4 class="contact-title">social media</h4>
                      <div class="link-social">
                          <a target="_blank" href="https://www.facebook.com/CodeHub-Academy-172888233402346/"><i class="zmdi zmdi-facebook"></i></a>
                      </div>
                  </div>
                  <div class="col-md-7">
                      <h4 class="contact-title">send your massage</h4>
                      <%=form_for @contact, id: "contact-form" do |f|%>
                        <%if @contact.errors.any?%>
                          <div class="error-container">
                            <h4 class="contact-title" style="color: white;">Opps! Your Infomation Could Not Be Save</h4>
                              <%@contact.errors.full_messages.each do |message|%>
                                <p><%=message%><p>
                              <%end%>
                          </div>
                        <%end%>
                          <div class="row">
                              <div class="col-md-6">
                                <%=f.text_field :name, placeholder: "Name"%>
                              </div>
                              <div class="col-md-6">
                                <%=f.text_field :email, placeholder: "Email"%>
                             </div>
                              <div class="col-md-12">
                                <%=f.text_area :message, placeholder: "Message", cols: "30", rows: "10"%>
                                <button type="submit" class="button-default">SUBMIT</button>
                              </div>
                          </div>
                      <%end%>
                      <p class="form-messege"></p>
                  </div>
              </div>
          </div>
      </div>


      <!--End of Breadcrumb Banner Area-->
      <!--Google Map Area Start-->
      <div class="google-map-area">
          <!--  Map Section -->
          <div id="contacts" class="map-area">
              <div id="googleMap" style="width:100%;height:485px;filter: grayscale(100%);-webkit-filter: grayscale(100%);"></div>
          </div>
      </div>
      <!--End of Google Map Area-->
      <!--Contact Form Area Start-->

      <!--End of Contact Form-->
      <!--Newsletter Area Start-->
      <div class="newsletter-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 col-sm-5">
                      <div class="newsletter-content">
                          <h3>SUBSCRIBE</h3>
                          <h2>TO OUR NEWSLETTER</h2>
                      </div>
                  </div>
                  <div class="col-md-7 col-sm-7">
                      <div class="newsletter-form angle">
                          <form action="#" id="mc-form" class="mc-form footer-newsletter fix">
                              <div class="subscribe-form">
                                  <input id="mc-email" type="email" name="email" placeholder="Enter your email address...">
                                  <button id="mc-submit" type="submit">SUBSCRIBE</button>
                              </div>
                          </form>
                          <!-- mailchimp-alerts Start -->
                          <div class="mailchimp-alerts text-centre fix pull-right">
                              <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                              <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                              <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                          </div>
                          <!-- mailchimp-alerts end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

<%=render "components/footer"%>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
  function initialize() {
    var mapOptions = {
    zoom: 15,
    scrollwheel: false,
    center: new google.maps.LatLng(23.763494, 90.432226)
    };

    var map = new google.maps.Map(document.getElementById('googleMap'),
      mapOptions);


    var marker = new google.maps.Marker({
    position: map.getCenter(),
    animation:google.maps.Animation.BOUNCE,
    icon: 'img/map-marker.png',
    map: map
    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
