<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper auth p-0 theme-two">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                    <div class="slide-content bg-1">
                    </div>
                </div>
                <div class="col-12 col-md-8 h-100 bg-white">
                    <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                        <%=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
                            <h3 class="mr-auto">Hello! let's get started</h3>
                            <p class="mb-5 mr-auto">Enter your details below.</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-account-outline"></i>
                                        </span>
                                    </div>
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email", placeholder: "Email" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-lock-outline"></i>
                                        </span>
                                    </div>
                                    <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "password", placeholder: "Password" %>
                                </div>
                            </div>
                            <%if devise_mapping.rememberable?%>

                            <div class="form-group d-flex justify-content-between">
                              <div class="form-check form-check-flat mt-0">
                                <label class="form-check-label">
                                  <%=f.check_box :remember_me, class: "form-check-input"%>
                                  Remember Me
                                </label>
                              </div>
                              <%= render "devise/shared/links" %>
                            </div>
                            <%end%>
                            <div class="form-group">
                                <%= f.submit "Log in", class: "btn btn-primary submit-btn" %>
                            </div>
                            <div class="wrapper mt-5 text-gray">
                                <p class="footer-text">Copyright © 2018 Thakvika Technology. All rights reserved.</p>
                                <ul class="auth-footer text-gray">
                                    <li>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Cookie Policy</a>
                                    </li>
                                </ul>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
