<%title "About Us | codehubacademy.com"%>
<%=meta_description "
  Founded in 2018,codeHubAcademy is a coding based academy providing programming
  courses to computer science students who are in need of additional classes to boost their Skills.
  With the exponential growth of technology (Programming noticeably), but not many schools offer such courses,
  we are inspired to be a part of the contribution in sharing coding experiences to our talented youngsters.
"%>
<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <div class="breadcrumb-banner-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="breadcrumb-text">
                          <h1 class="text-center">ABOUT US</h1>
                          <div class="breadcrumb-bar">
                              <ul class="breadcrumb text-center">
                                  <li><a href="/">Home</a></li>
                                  <li>ABOUT US</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--End of Breadcrumb Banner Area-->
      <!--About Page Area Start-->
      <div class="about-page-area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-title-wrapper">
                          <div class="section-title">
                              <h3>What is CODEHUB Academy?</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="about-text-container">
                          <p>
                             Founded in 2018,<span> CodeHubAcademy</span> is a coding based academy providing programming
                             courses to computer science students who are in need of additional classes to boost their Skills.
                             With the exponential growth of technology (Programming noticeably), but not many schools offer such courses,
                             we are inspired to be a part of the contribution in sharing coding experiences to our talented youngsters.
                            <p>
                               Our purpose is be an extra guidance for students who wish to improve their coding skills and at the same
                               encourage them to be more enthusiastic about programming and be prepared for the use in real
                               world application.More importantly, Codehub offer a certain short courses on a specific subject
                               so that students can be fully focused.
                            </p>

                            <p>
                               To ensure the quality, Our programs are designed to teach with interse practice, students will undertake a great amount
                               practise and tasks in and out of their class.
                            </p>

                          </p>
                          <br>
                          <div class="about-us">
                              <h3>Our Courses</h3>
                              <br>
                              <span>Web Development & Design</span>
                              <span>Ruby On Rails Web Development</span>
                              <span>Mobile Application With React Native</span>
                              <span>Desktop Application With .NET Framework</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="skill-image">
                          <img src="img/banner/6.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--End of About Page Area-->
      <!--Skill And Experience Area Start-->
      <div class="skill-and-experience-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-title-wrapper">
                          <div class="section-title">
                              <h3>Skills and Experience</h3>
                              <p>There are many variations of passages</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <div class="experience-skill-wrapper">
                          <div class="skill-bar-item">
                              <span>Ruby</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">80%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="skill-bar-item">
                              <span>Designing</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">75%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="skill-bar-item">
                              <span>C#</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">90%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="skill-bar-item">
                              <span>Mobile Application With React Native</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">70%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <div class="experience-skill-wrapper">
                          <div class="skill-bar-item">
                              <span>Programming</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">75%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="skill-bar-item">
                              <span>Web Development & Design</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">85%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="skill-bar-item">
                              <span>Ruby On Rails Web Development</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">80%</span>
                                  </div>
                              </div>
                          </div>
                          <div class="skill-bar-item">
                              <span>Web Application With Ruby On Rails</span>
                              <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-progress="100%" style="width: 100%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                      <span class="text-top">90%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--End of Skill And Experience Area-->
      <!--Teachers Area Start-->
      <div class="teachers-area padding-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="section-title-wrapper">
                          <div class="section-title">
                              <h3>OUR TEACHERS</h3>
                              <p>There are many variations of passages of Lorem Ipsum</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                <%@instructors.each do |instructor|%>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                      <div class="single-teacher-item">
                          <div class="single-teacher-image">
                              <a href="#"><img src="<%=instructor.image%>" alt=""></a>
                          </div>
                          <div class="single-teacher-text">
                              <h3><a href="#"><%="#{instructor.firstname} #{instructor.lastname}"%></a></h3>
                              <h4><%=instructor.title%></h4>
                              <p><%=raw(instructor.description.truncate(200))%></p>
                              <div class="social-links">
                                  <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                  <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                  <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                                  <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
                <%end%>
              </div>
          </div>
      </div>
      <!--End of Teachers Area-->
      <!--Newsletter Area Start-->
      <div class="newsletter-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 col-sm-5">
                      <div class="newsletter-content">
                          <h3>SUBSCRIBE</h3>
                          <h2>TO OUR NEWSLETTER</h2>
                      </div>
                  </div>
                  <div class="col-md-7 col-sm-7">
                      <div class="newsletter-form angle">
                          <form action="#" id="mc-form" class="mc-form footer-newsletter fix">
                              <div class="subscribe-form">
                                  <input id="mc-email" type="email" name="email" placeholder="Enter your email address...">
                                  <button id="mc-submit" type="submit">SUBSCRIBE</button>
                              </div>
                          </form>
                          <!-- mailchimp-alerts Start -->
                          <div class="mailchimp-alerts text-centre fix pull-right">
                              <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                              <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                              <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                          </div>
                          <!-- mailchimp-alerts end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

<%=render "components/footer"%>
