$("input#registration_firstname").val("");
$("input#registration_lastname").val("");
$("input#registration_email").val("");
$("input#registration_phone").val("");
$("input#registration_address").val("");
$("input#registration_programming").val("");
$("#registration-errors").html(" ");
$("#registration-success").html("<%= custom_flash_message%>");
$("#registration-index").append("<%=escape_javascript render(@registration)%>");

$(function() {
  $('.delete_registration_<%=@registration.id%>').submitOnCheck();
});

$('.delete_registration_<%=@registration.id%>').submitOnCheck();
