<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Personal Information</h4>
              <div class="registration-form">
                <%=simple_form_for([:admin, @registration])do |f|%>
                <div class="form-group">
                  <label for="exampleInputEmail3">Course Name</label>
                  <%=f.collection_select :course_id, Course.all, :id, :course_name, {prompt: "Select Course"}, {class: "form-control"}%>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">First Name</label>
                  <%=f.text_field :firstname, class: "form-control", placeholder: "First Name", required: true%>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail3">Last Name</label>
                  <%=f.text_field :lastname, class: "form-control", placeholder: "Last Name", required: true%>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail3">Date Of Birth</label>
                  <%=f.text_field :dob, class: "form-control", placeholder: "Date Of Birth", required: true%>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail3">Email</label>
                  <%=f.text_field :email, class: "form-control", placeholder: "Email", required: true%>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail3">Email</label>
                  <%=f.text_field :phone, class: "form-control", placeholder: "Email", required: true%>
                </div>

                <div class="form-group">
                  <div class="control-group file-upload" id="file-upload1">
                    <h3>Upload Photo</h3>
                    <div class="image-box text-center">
                      <p>Upload Image</p><img src="" alt=""></div>
                    <div class="controls">
                      <%=f.file_field :image%>
                    </div>
                  </div>
                </div>

                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <%=f.check_box :status, class: "form-check-input"%>
                      Your registration is now inactive! Please select check option to activate your registration
                    </label>
                  </div>
                </div>
                <div class="modal-footer">
                  <%=f.submit "Save", class: "btn brn-success mr-2"%>
                  <button class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<%=render "shared/footer"%>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
