$("input#registration_firstname").val("");
$("input#registration_lastname").val("");
$("input#registration_email").val("");
$("input#registration_phone").val("");
$("input#registration_address").val("");
$("input#registration_programming").val("");
$("#registration-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
