<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Registration Information</h5>
              <ul class="bullet-line-list">
                <li>
                  <p class="mb-2">First Name</p>
                  <h6><%=@registration.firstname%></h6>
                </li>

                <li>
                  <p class="mb-2">Last Name</p>
                  <h6><%=@registration.lastname%></h6>
                </li>

                <li>
                  <p class="mb-2">Email</p>
                  <h6><%=@registration.email%></h6>
                </li>

                <li>
                  <p class="mb-2">Phone</p>
                  <h6><%=@registration.phone%></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Course Information</h5>
              <ul class="bullet-line-list">
                <li>
                  <p class="mb-2">Course</p>
                  <h6><%=@registration.course.course_name%></h6>
                </li>
                <li>
                  <p class="mb-2">Payment</p>
                  <h6><%=status_converter(@registration.status, correct: "Paid", incorrect: "Unpaid")%></h6>
                </li>
                <li>
                  <p class="mb-2">Price</p>
                  <h6><%=number_to_currency(@registration.course.price)%></h6>
                </li>
                <li>
                  <p class="mb-2">Session</p>
                  <h6><%=@registration.course.sessionrean%></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
