<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Category</h4>
        <div class="user-form">
          <%=simple_form_for([:admin, category], remote: true)do |f|%>
            <div class="form-group">
              <label for="exampleInputEmail3">Category Name</label>
              <%=f.text_field :category_name, class: "form-control", placeholder: "Category", required: true%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Dead Line</label>
              <%=f.text_field :deadline, class: "form-control", placeholder: "Deadline", required: true%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Duration</label>
              <%=f.text_field :duration, class: "form-control", placeholder: "Duration", required: true%>
            </div>
            <div class="modal-footer">
              <%=f.submit "Save", class: "btn brn-success mr-2"%>
              <button class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
