<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Personal Information</h4>
              <div class="category-form">
                <%=simple_form_for([:admin, @category])do |f|%>
                  <div class="form-group">
                    <label for="exampleInputEmail3">category</label>
                    <%=f.text_field :category_name, class: "form-control", placeholder: "Category"%>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Dead Line</label>
                    <%=f.text_field :deadline, class: "form-control", placeholder: "Deadline", required: true%>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Duration</label>
                    <%=f.text_field :duration, class: "form-control", placeholder: "Duration", required: true%>
                  </div>

                  <div class="modal-footer">
                    <%=f.submit "Save", class: "btn btn-success mr-2 btn-md", id:"btn__submit"%>
                    <%=link_to "Cancel", admin_categories_path, class: "btn btn-light btn-md"%>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
