<% title "Courses | Codehubacademy.com"%>
<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <div class="breadcrumb-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h1 class="text-center">POPULAR COURSES</h1>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center">
                                <li><a href="/">Home</a></li>
                                <li>Courses</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Search Category Start-->
    <div class="search-category">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <%=search_form_for(@search) do |f|%>
                    <div class="form-container">
                      <div class="box-select">
                        <div class="select large">
                          <%=f.text_field :course_name_cont, class: "form-large", placeholder: "Course Name"%>
                        </div>
                      </div>
                      <%=f.submit "Search Course", class:"btn-search"%>
                    </div>
                  <%end%>
                </div>
            </div>
        </div>
    </div>
    <!--End of Search Category-->
    <!--Course Area Start-->
    <div class="course-area section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wrapper">
                        <div class="section-title">
                            <h3>POPULAR COURSES</h3>
                            <p>There are many courses to take</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <%@courses.each do |course|%>
                <div class="col-md-4 col-sm-6">
                    <div class="single-item">
                        <div class="single-item-image overlay-effect">
                          <%=link_to course_path(course) do%>
                            <img src="<%=course.image%>" alt="">
                          <%end%>
                        </div>
                        <div class="single-item-text">
                            <h4  title="<%=course.course_name.capitalize%>"><a href="#"><%=link_to course.course_name.truncate(39), course_path(course)%></a></h4>
                            <div class="single-item-text-info">
                                <span>By: <span><%="#{course.instructor.firstname} #{course.instructor.lastname}"%></span></span><br>
                                <span>Price: <span>
                                  <%if course.instructor.lastname === "Som On"%>
                                    <%=number_to_currency(course.price)%>/ Per Student</span>
                                  <%else%>
                                    <%=number_to_currency(course.price)%>/Month</span>
                                  <%end%>
                                </span><br>
                                <span>Deadline: <%=course.category.deadline%></span><br>
                                <span>Place:
                                  <%if @available == 0%>
                                     <span style="color: #86bc42;"><%="Available Now"%></span>
                                  <%elsif @available == 10%>
                                     <span><%="Full"%></span>
                                  <%else%>
                                     <span style="color: #86bc42;"><%="Available Now"%></span>
                                  <%end%>
                                </span>
                            </div>
                            <div class="single-item-content">
                               <div class="single-item-comment-view">
                                 <i class="zmdi zmdi-star"></i>
                                 <i class="zmdi zmdi-star"></i>
                                 <i class="zmdi zmdi-star"></i>
                                 <i class="zmdi zmdi-star"></i>
                                 <i class="zmdi zmdi-star-half"></i>
                               </div>
                            </div>
                        </div>
                        <div class="button-bottom">
                          <%=link_to "Register Now", new_course_registration_path(course), class: "button-default"%>
                        </div>
                    </div>
                </div>
              <%end%>
            </div>
        </div>
    </div>

    <!--End of Course Area-->
    <!--Teachers Area Start-->
    <div class="teachers-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wrapper">
                        <div class="section-title">
                            <h3>OUR INSTRUCTORS</h3>
                            <p>There are many instructors that have experiences</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <%@instructors.each do |instructor|%>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-teacher-item">
                        <div class="single-teacher-image">
                            <a href="#"><img src="<%=instructor.image%>" alt=""></a>
                        </div>
                        <div class="single-teacher-text">
                            <h3><a href="#"><%="#{instructor.firstname} #{instructor.lastname}"%></a></h3>
                            <h4><%=instructor.title%></h4>
                            <p><%=raw(instructor.description.truncate(200))%></p>
                            <div class="social-links">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
              <%end%>
            </div>
        </div>
    </div>
    </div>
  </div>

<%=render "components/footer"%>
