<%title @course.course_name%>
<%meta_description  strip_tags(@course.description)%>
<%=render "components/header"%>
  <div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
      <div class="breadcrumb-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h1 class="text-center">COURSES DETAILS</h1>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center">
                                <li><a href="/">Home</a></li>
                                <li><%=@course.course_name.upcase%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Course Details Area Start-->
    <div class="course-details-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="course-details-content">
                        <div class="single-course-details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="overlay-effect">
                                        <a href="#"><img alt="" src="<%=@course.image%>"></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-item-text">
                                        <h4><a href="#"><%=link_to @course.course_name, course_path(@course)%></a></h4>
                                        <div class="single-item-text-info">
                                            <span>By: <span><%="#{@course.instructor.firstname} #{@course.instructor.lastname}"%></span></span><br>
                                            <span>Duration: <span><%=@course.category.duration%></span></span><br>
                                            <span>Session: <span><%=@course.sessionrean%></span></span><br>
                                            <span>Study Session: <span><%=@course.varn%></span></span><br>
                                            <span>Time Study: <span><%=@course.startfrom%> to <%=@course.endfrom%></span></span><br>
                                            <span>Deadline: <span><%=@course.category.deadline%></span> </span>
                                            <span>Place:
                                              <%if @available == 0%>
                                                 <span style="color: #86bc42;"><%="Available Now"%></span>
                                              <%elsif @available == 10%>
                                                 <span><%="Full"%></span>
                                              <%else%>
                                                 <span style="color: #86bc42;"><%="Available Now"%></span>
                                              <%end%>
                                            </span>
                                        </div>

                                        <div class="single-item-content">
                                           <div class="single-item-comment-view">

                                           </div>
                                           <div class="single-item-rating">
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star"></i>
                                               <i class="zmdi zmdi-star-half"></i>
                                           </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="course-text-content" style="padding: 20px">
                              <%=raw(@course.description)%>
                            </div>
                        </div>
                        <div class="course-duration">
                            <div class="duration-title">
                                <div class="text"><span>Lessons</span> <span class="text-right">Estimated Time</span></div>
                            </div>
                            <div class="duration-text">
                              <%@course.subjects.each do |subject|%>
                                <div class="text"><span><%=subject.subject_name%></span> <span class="text-right"><%=pluralize(subject.hour, "Hour")%></span></div>
                              <%end%>
                            </div>
                            <div class="action-register">
                              <%=link_to "Register Now" , new_course_registration_path(@course),class:"button-default"%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar-widget">
                        <div class="single-sidebar-widget">
                            <div class="tution-wrapper">
                                <div class="tution-fee">
                                    <h3>
                                      <%if @course.instructor.lastname === "Som On"%>
                                        <%=number_to_currency(@course.price)%>/ Per Student</span>
                                      <%else%>
                                        <%=number_to_currency(@course.price)%>/Month</span>
                                      <%end%>
                                    </h3>
                                </div>
                                <div class="tutor-image">
                                    <img src="<%=@course.instructor.image%>" alt="" style="max-width: 70% !important;">
                                </div>
                                <div class="single-teacher-text">
                                    <h3><a href="#"><%="#{@course.instructor.firstname} #{@course.instructor.lastname}"%></a></h3>
                                    <h4><%=@course.instructor.title.capitalize%></h4>
                                    <p>
                                      <%=raw(@course.instructor.description.truncate(200))%>
                                    </p>
                                    <div class="social-links">
                                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                        <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-sidebar-widget">
                            <h4 class="title">Related Courses</h4>
                            <%@courses.each do |course|%>
                              <div class="single-item">
                                <div class="single-item-image overlay-effect">
                                    <a href="#"><img alt="" src="<%=course.image%>"></a>
                                </div>
                                <div class="single-item-text">
                                    <h4><a href="#"><%=course.course_name.capitalize%></a></h4>
                                    <div class="single-item-text-info">
                                        <span>By: <span><%="#{course.instructor.firstname} #{course.instructor.lastname}"%></span></span>
                                        <!-- <span>Date: <span>20.5.15</span></span> -->
                                    </div>
                                    <div class="single-item-content">
                                       <div class="single-item-comment-view">

                                       </div>
                                       <div class="single-item-rating">
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star"></i>
                                           <i class="zmdi zmdi-star-half"></i>
                                       </div>
                                    </div>
                                </div>
                                <div class="button-bottom">
                                  <%=link_to "Register Now", new_course_registration_path(course), class: "button-default"%>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Course Details Area-->
    </div>
  </div>

<%=render "components/footer"%>
