/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin/css
 *= require_self
 *= require font-awesome
 *= require tether
 */
 @import "toastr";

 .auth.theme-two .auto-form-wrapper form .form-group {
    width: 135% !important;
}

 .navbar.horizontal-layout .navbar-brand-wrapper .navbar-brand img {
    height: 60px !important;
}

 .select2-selection__choice {
    padding: 5px !important;
    color: white !important;
    font-size: 12px !important;
}

 .dataTables_empty{
   display: none !important;
 }

 .btn-view, .btn-edit ,.btn-remove{
   padding: 5px;
   color: white;
 }

 .btn-view{
   background: #446CB3;
 }

 .btn-edit{
   background: #26A65B;
 }

 .btn-remove{
   background: #D91E18;
 }

 .reveal-file p {
   margin: 0 auto;
   margin-top: 1em;
   color: #fff;
   text-align: center;
   width: 20em;
   background: #4B77BE;
   padding: 1.2em;
 }
 .reveal-file p:hover {
   background: #1b327e;
   cursor: pointer;
 }

 .file-upload .controls {
   display: none;
 }
 .file-upload .image-box {
   margin-top: 1em;
   height: 150px;
   width: 150px;
   // width: 20em;
   background: #D24D57;
   cursor: pointer;
   overflow: hidden;
 }
 .file-upload .image-box img {
   height: 100%;
   width: 100%;
   display: none;
 }
 .file-upload .image-box p {
   position: relative;
   top: 45%;
   color: #fff;
 }
