/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./front-end/css
 *= require_self
 */
 @import "toastr";
img.image-size{
  width: 100%;
  height: 300px;
  border: 0;
  vertical-align: top;
}

img.image-blog-detail{
  width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

 .single-item {
    margin-bottom: 100px !important;
 }
 div.list-style ul{
   list-style: disc !important;
   padding: 0px 30px 30px !important;
 }


 div.bold-style{
   font-weight: bold !important;
 }

 .c-text{
   font-size: 18px;
 }

 .section-padding {
    padding: 40px 0 !important;
}

 .error-container{
  background: #FF6F59;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
 }

 .action-register{
   margin-top: 30px;
 }

 .button-default{
   color: white !important;
 }

 /* Tags */

 div.tagsinput {
   padding: 15px 15px 10px;
   border-color: #d5dcec; }
   div.tagsinput span.tag {
     background: #464de4;
     border: 0;
     color: #fff;
     padding: 6px 14px;
     font-size: 0.8125rem;
     font-family: inherit;
     line-height: 1; }
     div.tagsinput span.tag a {
       color: #fff;
     }
       div.tagsinput{border: 1px solid #CCC;
          background: #f1f1f1 none repeat scroll 0 0;
          padding: 5px;
          width: 300px;
          height: 100px;
          overflow-y: auto;
          margin-bottom: 23px;
        }

    div.tagsinput span.tag{border:1px solid #a5d24a;-moz-border-radius:2px;-webkit-border-radius:2px;display:block;float:left;padding:5px;text-decoration:none;background:#cde69c;color:#638421;margin-right:5px;margin-bottom:5px;font-family:helvetica;font-size:13px}
    div.tagsinput span.tag a{font-weight:700;color:#82ad2b;text-decoration:none;font-size:11px}
    div.tagsinput input{width:80px;margin:0 5px 5px 0;font-family:helvetica;font-size:13px;border:1px solid transparent;padding:5px;background:0 0;color:#000;outline:0}
    div.tagsinput div{display:block;float:left}.tags_clear{clear:both;width:100%;height:0}.not_valid{background:#FBD8DB!important;color:#90111A!important}

.form-large{
  -webkit-appearance: none;
  background: #ffffff url(img/icon/arrow.png) no-repeat scroll 92% 50%;
  border: medium none;
  height: 42px;
  padding: 0 16px;
  width: 100%;
  font-size: 13px;
}

.btn-search{
  background: #2d3e50 none repeat scroll 0 0;
  border: 0 none;
  color: #ffffff;
  float: right;
  line-height: 42px;
  padding: 0 28px;
  position: relative;
  text-transform: uppercase;
  z-index: 99;
}

.logo{
  padding: 15px !important;
}
@media (max-width: 767px){
  .logo {
      padding: 46px 0 28px !important;
      text-align: center;
  }
}
