<div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <%=render "shared/header"%>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card card-statistics">
                <div class="row">
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-account-multiple-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">New Users</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@users%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-checkbox-marked-circle-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">Registrations</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@registrations%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">Students</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@students%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">Courses</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@courses%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">Instructors</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@instructors%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">Subjects</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@subjects%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-trophy-outline text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">Category</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@categories%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
                          <i class="mdi mdi-target text-primary mr-0 mr-sm-4 icon-lg"></i>
                          <div class="wrapper text-center text-sm-left">
                            <p class="card-text mb-0">News</p>
                            <div class="fluid-container">
                              <h3 class="card-title mb-0"><%=@blogs%></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">The Current Chart</h5>
                  <canvas id="current-chart" height="100"></canvas>
                </div>
                <div class="border-top py-4 px-4">
                  <p class="mb-0 text-gray">Projects Status</p>
                  <div class="d-flex align-items-end">
                    <h2 class="mb-0 display-2 font-weight-semibold">76,533</h2>
                    <p class="mb-2 ml-1">PCS</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Updates</h5>
									<ul class="bullet-line-list">
										<li>
											<h6>User confirmation</h6>
											<p class="mb-0">Donec rutrum congue leo eget malesuada.</p>
											<p class="text-muted">
												<i class="mdi mdi-clock"></i>
												7 months ago.
											</p>
										</li>
										<li>
											<h6>Continuous evaluation</h6>
											<p class="mb-0">Vivamus suscipit tortor eget felis porttitor volutpat.</p>
											<p class="text-muted">
												<i class="mdi mdi-clock"></i>
												7 months ago.
											</p>
										</li>
										<li>
											<h6>Promotion</h6>
											<p class="mb-0">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
											<p class="text-muted">
												<i class="mdi mdi-clock"></i>
												7 months ago.
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%=render "shared/footer"%>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
