<tr class="delete_user_<%=user.id%>">
  <td>
    <%=user.id%>
  </td>
  <td>
    <%="#{user.firstname} #{user.lastname}"%>
  </td>

  <td>
    <%= link_to user.email, admin_user_path(user)%>
  </td>

  <td>
    <%= user.position%>
  </td>

  <td>
    <%= user.role%>
  </td>

  <td>
    <%=time_ago(user.created_at)%>
  </td>

  <td>
    <%=status_converter(user.status, correct: "Work", incorrect: "Stop Work")%>
  </td>

  <td>
    <%=form_for([:admin, user], remote: true) do |f|%>
      <%=link_to admin_user_path(user), title: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_user_path(user), title: "Edit",id: "show-form_#{user.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
</tr>
