<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Personal Information</h4>
        <div class="user-form">
          <%=simple_form_for([:admin, user], remote: true)do |f|%>
            <div class="form-group">
              <label for="exampleInputName1">Role</label>
              <%=f.select :role,(User.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Firstname</label>
              <%=f.text_field :firstname, class: "form-control", placeholder: "First Name", required: true%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Firstname</label>
              <%=f.text_field :lastname, class: "form-control", placeholder: "Last Name"%>
            </div>

            <div class="form-group">
              <label for="exampleInputCity1">Position</label>
              <%=f.text_field :position, class: "form-control", placeholder: "Position"%>
            </div>
            <div class="form-group">
              <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Account Information</h4>
        <div class="user-form">
            <div class="form-group">
              <label for="exampleInputEmail3">Username</label>
              <%=f.text_field :username, class: "form-control", placeholder: "Username"%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Email</label>
              <%=f.text_field :email, class: "form-control", placeholder: "Email"%>
            </div>

            <div class="form-group">
              <label for="exampleInputCity1">Password</label>
              <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
            </div>

            <div class="form-group">
              <label for="exampleInputCity1">Password Confirmation</label>
              <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
            </div>

            <div class="modal-footer">
              <%=f.submit "Save", class: "btn brn-success mr-2"%>
              <button class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
