<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-4 col-sm-6 grid-margin stretch-card">
					<div class="card text-center">
						<div class="card-body">
							<img src="<%=@user.image%>" class="img-lg rounded-circle mb-2" alt="profile image"/>
							<h4><%="#{@user.firstname} #{@user.lastname}"%></h4>
							<p class="text-muted"><%=@user.role%></p>
							<p class="mt-4 card-text">
								<%=raw(@user.description).truncate(50)%>
							</p>
              <%=link_to "Edit Profile", edit_admin_user_path, class: "btn btn-primary btn-sm mt-3 mb-4"%>
              <%=link_to "Cancel", admin_users_path, class: "btn btn-danger btn-sm mt-3 mb-4"%>

							<div class="border-top pt-3">
								<div class="row">
									<div class="col-4">
									  <h6>5896</h6>
										<p>Post</p>
									</div>
									<div class="col-4">
										<h6>1596</h6>
										<p>Followers</p>
									</div>
									<div class="col-4">
										<h6>7896</h6>
										<p>Likes</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Personal Information</h5>
              <ul class="bullet-line-list">
                <li>
                  <p class="mb-2">Username</p>
                  <h6><%=@user.username%></h6>
                </li>

                <li>
                  <p class="mb-2">Email</p>
                  <h6><%=@user.email%></h6>
                </li>

                <li>
                  <p class="mb-2">Position</p>
                  <h6><%=@user.position%></h6>
                </li>

                <li>
                  <p class="mb-2">Status</p>
                  <h6><%=status_converter(@user.status, correct: "Work", incorrect:"Stop Work")%></h6>
                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
