<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                  <li class="breadcrumb-item"><a href="#">User</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <h4 class="page-title">User</h4>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card m-b-20">
          <div class="card-block">
            <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">Add New</button>
            <br><br>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title mt-0" id="myLargeModalLabel">New User</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                      <div class="col-12">
                        <div class="">
                          <div class="" id="users">
                            <div id="user-errors"></div>
                            <div id="user-success"></div>
                            <%= render partial: "user_form", locals: {user: @user}%>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Position</th>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="user-index">
                <%if @users.any?%>
                <%= render @users%>
              <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-b-20">
          <div class="card-block">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="user-form">
  <%=simple_form_for([:admin, user], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Personal</h3>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Role</label>
            <%=f.select :role,(User.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">First Name</label>
            <%=f.text_field :firstname, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Last Name</label>
            <%=f.text_field :lastname, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Postion</label>
            <%=f.text_field :position, class: "form-control", placeholder: "position"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <hr>
        <h3>Account</h3>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Username</label>
            <%=f.text_field :username, class: "form-control", placeholder: "Username"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Email</label>
            <%=f.text_field :email, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Password</label>
            <%=f.password_field :password, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Confirmation Password</label>
            <%=f.password_field :password_confirmation, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
            <div class="control-group file-upload" id="file-upload1">
              <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
              <div class="controls">
                <%=f.file_field :image%>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info"%>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
