$("input#user_firstname").val("");
$("input#user_lastname").val("");
$("input#user_position").val("");
$("input#user_username").val("");
$("input#user_password").val("");
$("input#user_email").val("");
$("input#user_password_confirmation").val("");
$("input#user_description").val("");
$("#user-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
