<tr class="delete_blog_<%=blog.id%>">
  <td>
    <%=blog.id%>
  </td>

  <td>
    <%= blog.title%>
  </td>

  <td>
    <%= blog.post_date%>
  </td>

  <td>
    <%=status_converter(blog.status, correct: "Activated", incorrect: "inactive")%>
  </td>

  <td>
    <%=time_ago(blog.created_at)%>
  </td>

  <td>
    <%=form_for([:admin, blog], remote: true) do |f|%>
      <%=link_to admin_blog_path(blog), email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_blog_path(blog), email: "Edit",id: "show-form_#{blog.id}" do %>
        Edit
      <%end%>
      <%=link_to admin_blog_path(blog.id), email: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        Delete
      <%end%>
    <%end%>
  </td>
</tr>
