$("input#blog_blog_title").val("");
$("#blog-errors").html(" ");
$("#blog-success").html("<%= custom_flash_message%>");
$("#blog-index").append("<%=escape_javascript render(@blog)%>");

$(function() {
  $('.delete_blog_<%=@blog.id%>').submitOnCheck();
});

$('.delete_blog_<%=@blog.id%>').submitOnCheck();
