<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Personal Information</h4>
              <div class="blog-form">
                <%=simple_form_for([:admin, @blog])do |f|%>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Type</label>
                    <%=f.collection_select :type_id, Type.all, :id, :type_name, {prompt: "Select Type"}, {class: "form-control"}%>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail3">blog Name</label>
                    <%=f.text_field :title, class: "form-control", placeholder: "blog", required: true%>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail3">blog Name</label>
                    <%=f.text_field :post_date, class: "form-control", placeholder: "blog", required: true%>
                  </div>

                  <div class="form-group">
                    <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
                  </div>

                  <div class="form-group">
                    <div class="control-group file-upload" id="file-upload1">
                      <h3>Upload Photo</h3>
                      <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                      <div class="controls">
                          <%=f.file_field :image%>
                      </div>
                    </div>
                  </div>

                  <div class="form-group d-flex justify-content-between">
                    <div class="form-check form-check-flat mt-0">
                      <label class="form-check-label">
                        <%=f.check_box :status, class: "form-check-input"%>
                        Your course is now inactive! Please select check option to activate your course
                      </label>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <%=f.submit "Save", class: "btn btn-success mr-2 btn-md", id:"btn__submit"%>
                    <%=link_to "Cancel", admin_blogs_path, class: "btn btn-light btn-md"%>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
