<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#exampleModal">Add Blog
        <i class="mdi mdi-play-circle ml-1"></i>
      </button>
      <div class="col-12 grid-margin">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Blog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div id="categories">
                        <div id="blog-errors"></div>
                        <div id="blog-success"></div>
                        <%=render partial: "blog_form", locals: {blog: @blog}%>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Ends -->
        </div>


      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 table-responsive">
                <table id="order-listing" class="table">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="blog-index">
                    <%if @blogs.any?%>
                    <%= render @blogs%>
                  <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
