<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Course</h4>
        <div class="user-form">
          <%=simple_form_for([:admin, course], remote: true)do |f|%>
            <div class="form-group">
              <label for="exampleInputEmail3">Course Name</label>
              <%=f.collection_select :category_id, Category.all, :id, :category_name, {prompt: "Select Category"}, {class: "form-control"}%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Course Name</label>
              <%=f.collection_select :instructor_id, Instructor.all, :id, :lastname, {prompt: "Select Instructor"}, {class: "form-control"}%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Course Name</label>
              <%=f.text_field :course_name, class: "form-control", placeholder: "Course Name", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Price</label>
              <%=f.number_field :price, class: "form-control", placeholder: "Price", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Select Session</label>
              <%= f.select :sessionrean, Course::SECTION_SELECT_SESSION, {}, {:class=>"form-control"} %>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Session</label>
              <%=f.text_field :varn, class: "form-control", placeholder: "Weekdays or Weekend", required: true%>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">Start Time</label>
              <div class="input-group date" id="timepicker-example-start" data-target-input="nearest">
                <div class="input-group" data-target="#timepicker-example-start" data-toggle="datetimepicker">
                  <%=f.text_field :startfrom, class: "form-control datetimepicker-input", data: { target: "#timepicker-example-start" }%>
                  <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail3">End Time</label>
              <div class="input-group date" id="timepicker-example-end" data-target-input="nearest">
                <div class="input-group" data-target="#timepicker-example-end" data-toggle="datetimepicker">
                  <%=f.text_field :endfrom, class: "form-control datetimepicker-input", data: { target: "#timepicker-example-end" }%>
                  <div class="input-group-addon input-group-append"><i class="mdi mdi-clock input-group-text"></i></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
            </div>

            <div id="subject">
              <%=f.simple_fields_for :subjects do |subject|%>
                <%=render 'subject_fields', :f => subject%>
                <%= link_to_add_association 'Add Subject', f, :subjects, class: "btn btn-primary"%>
              <%end%>
            </div>

            <div class="form-group">
              <div class="control-group file-upload" id="file-upload1">
                <h3>Upload Photo</h3>
                <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                <div class="controls">
                    <%=f.file_field :image%>
                </div>
              </div>
            </div>

            <div class="form-group d-flex justify-content-between">
              <div class="form-check form-check-flat mt-0">
                <label class="form-check-label">
                  <%=f.check_box :status, class: "form-check-input"%>
                  Your course is now inactive! Please select check option to activate your course
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <%=f.submit "Save", class: "btn brn-success mr-2"%>
              <button class="btn btn-light" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
