<tr class="delete_course_<%=course.id%>">
  <td>
    <%=course.id%>
  </td>

  <td>
    <%= course.course_name%>
  </td>

  <td>
    <%=course.sessionrean%>
  </td>

  <td>
    <%="#{course.startfrom} to #{course.endfrom}"%>
  </td>

  <td>
    <%=status_converter(course.status, correct: "Activated", incorrect: "inactive")%>
  </td>

  <td>
    <%=time_ago(course.created_at)%>
  </td>


  <td>
    <%=form_for([:admin, course], remote: true) do |f|%>
      <%=link_to admin_course_path(course), title: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_course_path(course), title: "Edit",id: "show-form_#{course.id}" do %>
        Edit
      <%end%>
      <%=link_to admin_course_path(course.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        Delete
      <%end%>
    <%end%>
  </td>
</tr>
