<div id="subject">
  <div class="nested-fields">
    <%=link_to_remove_association 'Remove', f, data: { confirm: "Do you really want to remove this ?" }, class: 'btn btn-danger', id: "test"%>
    <div class="form-group">
      <label>Subject Name</label>
      <%=f.text_field :subject_name, class: "form-control", placeholder: "Subject Name"%>
    </div>
    <div class="form-group">
      <label>Hour</label>
      <%=f.number_field :hour, class: "form-control", placeholder:"Hour"%>
    </div>
  </div>

</div>
