$("input#course_course_name").val("");
$("input#course_session").val("");
$("input#course_hour").val("");
$("input#course_price").val("");
$("#course-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
