$("input#course_course_name").val("");
$("input#course_session").val("");
$("input#course_hour").val("");
$("input#course_price").val("");
$("#course-errors").html(" ");
$("#course-success").html("<%= custom_flash_message%>");
$("#course-index").append("<%=escape_javascript render(@course)%>");

$(function() {
  $('.delete_course_<%=@course.id%>').submitOnCheck();
});

$('.delete_course_<%=@course.id%>').submitOnCheck();
