<%=render "shared/header"%>
<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Category Information</h5>
              <ul class="bullet-line-list">
                <li>
                  <p class="mb-2">Course Name</p>
                  <h6><%=@course.course_name%></h6>
                </li>

                <li>
                  <p class="mb-2">Price</p>
                  <h6><%=number_to_currency(@course.price)%></h6>
                </li>

                <li>
                  <p class="mb-2">Session</p>
                  <h6><%=@course.sessionrean%></h6>
                </li>

                <li>
                  <p class="mb-2">Studey Session</p>
                  <h6><%=@course.varn%></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Instructor Information</h5>
              <ul class="bullet-line-list">
                <li>
                  <p class="mb-2">First Name</p>
                  <h6><%=@course.instructor.firstname%></h6>
                </li>

                <li>
                  <p class="mb-2">Last Name</p>
                  <h6><%=@course.instructor.lastname%></h6>
                </li>

                <li>
                  <p class="mb-2">Prefession</p>
                  <h6><%=@course.instructor.profession%></h6>
                </li>

                <li>
                  <p class="mb-2">Email</p>
                  <h6><%=@course.instructor.email%></h6>
                </li>

                <li>
                  <p class="mb-2">Phone</p>
                  <h6><%=@course.instructor.phone%></h6>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firsname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%@course.registrations.each do |registration|%>
                        <tr>
                          <td>
                            <%=registration.id%>
                          </td>

                          <td>
                            <%= registration.firstname%>
                          </td>

                          <td>
                            <%=registration.lastname%>
                          </td>

                          <td>
                            <%=registration.email%>
                          </td>

                          <td>
                            <%=registration.phone%>
                          </td>

                          <td>
                            <%=status_converter(registration.status, correct: "Activated", incorrect: "inactive")%>
                          </td>

                          <td>
                            <%=time_ago(registration.created_at)%>
                          </td>


                          <td>
                            <%=form_for([:admin, registration], remote: true) do |f|%>
                              <%=link_to admin_registration_path(registration), title: "View" do %>
                                View
                              <%end%>
                              <%=link_to edit_admin_registration_path(registration), title: "Edit" do %>
                                Edit
                              <%end%>
                            <%end%>
                          </td>
                        </tr>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <%=render "shared/footer"%>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
