<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
      <%if yield(:title).present?%>
        <%= yield(:title) %>
      <%else%>
        <%= "codehubacademy.com"%>
      <%end%>
    </title>

    <%if yield(:meta_description).present?%>
      <meta name="description" content="<%= yield(:meta_description)%>">
    <%else%>
      <meta name="description" content="<%="We believe you can code better. Relying only on class is never enough, it is always a wise choice to seek extra sources of knowlegde. And that is the reason why CODEHUB is founded. Observing the need of assitants in your programming journey, we are designed to offer just the right set of courses for you to succeed in your career."%>">
    <%end%>
    <link rel="shortcut icon" type="image/x-icon" href="/logo.png">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/css"%>
  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>
    <%=custom_flash_message%>

  </body>
</html>
